table {
    border-spacing: 5px;
    margin: auto;
    width: 50%;
}

table th, table td{
    border-bottom: 3px solid #67676792;
    padding: 8px 15px;
    background-color: #eee;
    box-shadow: 0 5px 6px #66666654;
}


table th {
    background-color: rgba(0, 191, 255, 0.973);
    color: white;
}
